<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47873361990-lri7i8upbmpra895o40vkru20gpqm8ee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47873361990-lri7i8upbmpra895o40vkru20gpqm8ee</string>
	<key>API_KEY</key>
	<string>AIzaSyCsi5uKmkOUMmaNP-08VLoV3-Bvj65cJhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>47873361990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devmobile.veganfood</string>
	<key>PROJECT_ID</key>
	<string>veganfood-62ddc</string>
	<key>STORAGE_BUCKET</key>
	<string>veganfood-62ddc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47873361990:ios:60857518f53c0545826247</string>
	<key>DATABASE_URL</key>
	<string>https://veganfood-62ddc.firebaseio.com</string>
</dict>
</plist>